<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @participant.first_name %> !</h1>
    <p>
      Tu viens d'acter ta participation à l'evenement <%= @event.title %>en utilisant l'e-mail suivant : <%= @participant.email %>.
    </p>
    <p> À très vite frère!
  </body>
</html>